@import "../variables";

#HOMEVIEW {
  section#LAST {
    h1 {
      text-align: center;
      margin: 50px 0 25px;
    }
  }

  section#WAVE {
    background: linear-gradient(left, @primary-color, @primary-color-darkest);
    margin-top: 25px;

    .container {

      padding: 15px 0;

      .wave-column {

        h1, h2 {
          color: #fff;
          text-align: center;
        }

        &.first {

        }

        &.last {
          margin-top: 65px;
        }
      }
    }


    }

  }


  @media screen and (max-width:599px){
    .svg-wave{
      display:none;
    }
}