@import "../variables";

#HOMEVIEW {
  section#WAVE {
    background: @primary-color;
    .container{

      padding:25px 0;

      .wave-column{

        h1, h2 {
          color: #fff;
          text-align: center;
        }

        &.first{

        }

        &.last{
          margin-top: 45px;
        }
      }
    }




  }
}