@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url(https://fonts.gstatic.com/s/reeniebeanie/v10/z7NSdR76eDkaJKZJFkkjuvWxXPq1rg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
input,
.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}
.brand {
  font-family: 'Reenie Beanie', cursive;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.badge-primary {
  background: #ae1290;
}
header {
  background: #f5f5f5;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid #e5e5e5;
}
header #brand {
  font-family: 'Reenie Beanie', cursive;
  color: #111;
  margin: 0;
  padding: 0;
  line-height: 60px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul.nav-menu {
  display: inline-flex;
}
header nav ul.nav-menu a {
  cursor: pointer;
  color: #111;
  transition: all ease 0.3s;
}
header nav ul.nav-menu .nav-item {
  display: block;
  line-height: 60px;
  padding: 0 30px;
}
header nav ul.nav-menu .nav-li {
  display: block;
  position: relative;
}
header nav ul.nav-menu .nav-li ul {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 5px rgba(132, 14, 106, 0.2);
  padding: 5px 0;
  position: absolute;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}
header nav ul.nav-menu .nav-li ul li a {
  display: block;
  padding: 5px 30px;
}
header nav ul.nav-menu .nav-li ul li a:hover {
  color: #ae1290;
}
header nav ul.nav-menu .nav-li:hover .nav-item {
  background: rgba(132, 14, 106, 0.2);
}
header nav ul.nav-menu .nav-li:hover ul {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
header #basket-header {
  line-height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: right;
}
header #basket-header span:first-of-type {
  margin: 0 5px;
}
header #basket-header .badge {
  display: inline-block;
}
main {
  padding: 60px 0 30px 0;
}
footer {
  border-top: 1px solid #ddd;
}
#HOMEVIEW section#LAST h1 {
  text-align: center;
  margin: 50px 0 25px;
}
#HOMEVIEW section#WAVE {
  background: linear-gradient(left, #ae1290, #60064a);
}
#HOMEVIEW section#WAVE .container {
  padding: 15px 0;
}
#HOMEVIEW section#WAVE .container .wave-column h1,
#HOMEVIEW section#WAVE .container .wave-column h2 {
  color: #fff;
  text-align: center;
}
#HOMEVIEW section#WAVE .container .wave-column.last {
  margin-top: 65px;
}
/*# sourceMappingURL=imports.css.map */